{% extends 'base.html' %}
{% block content %}
<div class="container container-base">
    <h1 style="font-weight: bold">Fale conosco</h1>
    <h4 style="line-height: 50px">Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo
        segue os links para contato:</h4>
    <h4 style="font-weight: bold; line-height: 50px">Links</h4>
    <ul>
        <li>E-mail: <a href="#">contato@simplemooc.com</a></li>
        <li>Twitter: <a href="#">@simplemooc</a></li>
    </ul>
    <hr/>
</div>
{% endblock %}