{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Uma Simples Plataforma de Ensino a Distância</h1>

            <p class="text-justify" style="text-indent: 1.5em">O Simple MOOC visa simplificar o ensino a distância,
                provendo
                ferramentas objetivas e de fácil uso para
                cursos a distância.</p>
            <button type="button" class="btn btn-primary btn-lg">Saiba mais</button>
        </div>
    </div>

    <div class="container container-default">
        <p class="text-justify" style="text-indent: 1.5em"> um fato conhecido de todos que um leitor se distrairá com o
            conteúdo de texto legível de uma página quando
            estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de
            letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de
            um
            texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como
            texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de
            construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de
            propósito
            (injetando humor, e coisas do gênero).</p>

        <p class="text-justify" style="text-indent: 1.5em"> um fato conhecido de todos que um leitor se distrairá com o
            conteúdo de texto legível de uma página quando
            estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de
            letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de
            um
            texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como
            texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de
            construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de
            propósito
            (injetando humor, e coisas do gênero).</p>

        <p class="text-justify" style="text-indent: 1.5em"> um fato conhecido de todos que um leitor se distrairá com o
            conteúdo de texto legível de uma página quando
            estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de
            letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de
            um
            texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como
            texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de
            construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de
            propósito
            (injetando humor, e coisas do gênero).</p>
    </div>
{% endblock %}